@define-color fg_main {{colors.on_surface.default.hex}};
@define-color fg_muted {{colors.on_surface_variant.default.rgba | set_alpha: 0.6}};

@define-color bg_main {{colors.surface.default.rgba | set_alpha: 0.55}};
@define-color bg_strong {{colors.surface_container_high.default.rgba | set_alpha: 0.75}};
@define-color bg_hover {{colors.surface_container_highest.default.rgba | set_alpha: 0.9}};

@define-color accent {{colors.primary.default.hex}};
@define-color accent_soft {{colors.primary.default.rgba | set_alpha: 0.4}};

@define-color red {{colors.error.default.hex}};
@define-color orange {{colors.tertiary_fixed.default.hex}};
@define-color green {{colors.primary_fixed.default.hex}};
@define-color blue {{colors.secondary_fixed.default.hex}};
@define-color purple {{colors.secondary.default.hex}};
@define-color cyan {{colors.tertiary.default.hex}};
