/* =========================
   THEME VARIABLES
   ========================= */
@define-color fg_main {{colors.on_surface.default.hex}};
@define-color fg_muted {{colors.on_surface_variant.default.hex}};
@define-color fg_muted_strong {{colors.outline.default.hex}};

@define-color bg_main {{colors.surface.default.rgba | set_alpha: 0.5}};
@define-color bg_solid {{colors.surface_container_highest.default.rgba | set_alpha: 0.7}};
@define-color bg_menu {{colors.surface.default.hex}};
@define-color bg_tooltip {{colors.surface_container_high.default.hex}};

/* High-Visibility Accents */
@define-color color1 {{colors.primary_fixed.default.hex}};         /* Workspaces */
@define-color color2 {{colors.secondary_fixed.default.hex}};       /* Bluetooth/Audio */
@define-color color3 {{colors.tertiary_fixed.default.hex}};        /* Battery */
@define-color color4 {{colors.primary_fixed_dim.default.hex}};     /* Wifi/Window */
@define-color color5 {{colors.secondary_fixed_dim.default.hex}};   /* Noti/Backlight */
@define-color color6 {{colors.tertiary_fixed_dim.default.hex}};    /* CLOCK (Now a bright accent) */
@define-color color7 {{colors.on_secondary_container.default.hex}};/* Org-clock */
