/* --- Root Variables (Colors) --- */
:root {
  --background-color: rgba(22, 22, 30, 0.6);
  --content-color: rgb(47, 53, 73);
  --foreground-color: rgb(169, 177, 214);
  --accent-color: rgb(42, 195, 222);
  --border-color: rgb(21, 108, 132);
  --icon-color: rgb(169, 177, 214);
  --icon-hover: rgba(169, 177, 214, 0.8);
  --hover-color: rgba(120, 124, 153, 0.12);
  --highlight-color: rgba(22, 22, 30, 0.8);
  --active-color: rgb(158, 206, 106);
  --inactive-color: rgba(192, 202, 245, 0.5);
}

/* --- Base Styles --- */
* {
  font-size: 14px;
  color: var(--foreground-color);
  font-weight: 600;
  font-family: "Segoe UI", "JetBrainsMono NFP";
}

/* --- Yasb Bar Itself --- */
.yasb-bar {
  padding: 0 6px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

/* --- Individual Widgets --- */
.widget {
  padding: 2px 12px;
  margin: 4px 2px;
  border: 2px solid var(--border-color);
}


/* --- Komorebi Active Layout --- */
.komorebi-active-layout {
  padding: 0 4px 3px 4px;
}

.komorebi-active-layout .label {
  font-weight: 600;
  font-size: 12px;
}

/* --- Komorebi & GlazeWM Workspaces --- */
.komorebi-workspaces,
.glazewm-workspaces {
  padding: 0;
}

.komorebi-workspaces .offline-status,
.glazewm-workspaces .offline-status {
  color: var(--foreground-color);
  font-size: 12px;
  padding: 0 4px;
  font-weight: 600;
}

.komorebi-workspaces .ws-btn,
.glazewm-workspaces .ws-btn {
  color: transparent;
  background-color: var(--active-color);
  margin: 0 2px;
  border-radius: 0px;
  font-size: 1px;
}

.komorebi-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn:hover {
  color: var(--accent-color);
  background-color: var(--hover-color);
}

.komorebi-workspaces .ws-btn.populated,
.glazewm-workspaces .ws-btn.populated {
  width: 10px;
  height: 10px;
  background-color: var(--active-color);
  margin: 0 2px;
  font-size: 1px;
}

.komorebi-workspaces .ws-btn.active,
.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty,
.windows-desktops .ws-btn.active {
  color: transparent;
  background-color: var(--icon-color);
  width: 36px;
  height: 10px;
}

/* --- Glazewm Tiling Direction --- */
.glazewm-tiling-direction .btn {
  font-size: 18px;
  border: none;
}

/* --- Volume Widget --- */
.volume-slider {
  border: none;
}

.audio-menu {
  background-color: var(--background-color);
}

.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: var(--highlight-color);
}

.audio-container .device:hover {
  background-color: var(--hover-color);
}

/* --- Systray --- */
.systray {
  padding: 0 4px;
}
.systray .button {
  border-radius: 4px;
  padding: 4px 2px;
}
.systray .unpinned-visibility-btn {
  height: 20px;
  width: 16px;
  border: none;
  font-size: 26px;
}
.systray .unpinned-visibility-btn:hover {
  border-radius: 4px;
}

/* --- Home --- */
.home-widget .icon {
  color: #b4befe;
  margin-bottom: 2px;
}

.home-widget .icon:hover {
  color: #cdd6f4;
}

.home-menu {
  background-color: var(--background-color);
}

.home-menu .menu-item {
  padding: 6px 48px 7px 16px;
  font-size: 12px;
}

.home-menu .menu-item:hover {
  background-color: var(--hover-color);
}

.home-menu .separator {
  max-height: 1px;
  background-color: var(--border-color);
}

/* --- Taskbar --- */
.taskbar-widget .app-container {
  margin: 0 2px;
  border-radius: 4px;
  padding: 0 4px;
}
.taskbar-widget .app-container.flashing {
  background-color: rgba(255, 106, 106, 0.63);
}
.taskbar-widget .app-container .app-title {
  padding-left: 4px;
}
/* Taskbar preview popup is very limited in styling options, do not use margins/paddings here */
.taskbar-preview {
  border-radius: 8px;
  background-color: #2b2c2d;
}
.taskbar-preview .header {
  padding-bottom: 12px;
  padding-top: 4px;
}
.taskbar-preview .header .title {
  color: #d6d6d6;
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 13px;
}

