:root {
    --backgroundcol: #101c20;
    --foregroundcol: #c3c6c7;
    --cursorcol: #c3c6c7;
    --colors0: #101c20;
    --colors1: #657E82;
    --colors2: #59858E;
    --colors3: #669198;
    --colors4: #76A1A7;
    --colors5: #9AA7A1;
    --colors6: #8BB3B6;
    --colors7: #c3c6c7;
    --colors8: #5e6d72;
    --colors9: #657E82;
    --colors10: #59858E;
    --colors11: #669198;
    --colors12: #76A1A7;
    --colors13: #9AA7A1;
    --colors14: #8BB3B6;
    --colors15: #c3c6c7;
}
*{
	font-size: 12px;
	color: var(--foregroundcol);
	font-weight: 600;
	font-family: "JetBrainsMono NFP";
	margin: 0;
	padding: 0;
}
.yasb-bar {
	padding: 0;
	margin: 0; 
    background-color: var(--backgroundcol)
}
.widget {
	padding: 0 12px;
	margin: 0;
}
.icon {
	font-size: 16px;
}
.widget .label {
	padding: 0px 2px; 
}

.apps-widget {
	padding: 0 4px 0 2px;
}
.komorebi-active-layout {
	padding: 0 4px 0 0;
}
.komorebi-active-layout .label {
	font-weight: 600;
	padding: 2px 0 0 0;
}
.apps-widget .widget-container,
.komorebi-workspaces .widget-container,
.komorebi-active-layout .widget-container{
	background-color: var(--backgroundcol);
	margin: 4px 0 4px 0;
	border-radius: 12px;
    border: 0px solid var(--colors1);
}
.komorebi-workspaces .widget-container {
    border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
    margin-left: 4px;
}
.komorebi-workspaces {
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	padding: 0 4px 0 0;
}
.komorebi-workspaces .offline-status {
    color: var(--colors2);
    font-size: 12px;
    padding: 0 0 0 4px;
    font-weight:600;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color:transparent;
	margin:0;
    font-size: 12px;
	color:  var(--colors3);
    height: 28px;
    width: 18px;
}
.komorebi-workspaces .ws-btn:hover {
    color: var(--colors4);
}
.komorebi-workspaces .ws-btn.populated {
    color:transparent;
    width: 10px;
    height: 10px;
    background-color: var(--colors5);
    border-radius: 5px;
    margin: 0 4px;
    font-size: 1px;
}
.komorebi-workspaces .ws-btn.active {
	color: transparent;
    background-color: var(--colors6);
    width: 36px;
    height: 10px;
    margin: 0 4px;
    border-radius: 5px; 
}
.apps-widget .label {
	font-size: 14px;
	padding: 0 2px;
    color: var(--colors7);
}
.apps-widget .label:hover {
	color: var(--colors8);
}
.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: var(--colors2);
	font-weight: 600;
 
}
.power-menu-widget .label {
	color: var(--colors9);
	font-size: 13px;
}
.power-menu-popup {
	background-color: transparent	 
}
.power-menu-popup .button {
	padding: 0;
	width: 180px;
	height: 230px;
	border-radius: 8px;
	background-color: var(--colors10);
	color:var(--colors11);
	border-left: 4px solid rgba(58, 59, 83, 0);
    border-right: 4px solid rgba(58, 59, 83, 0);
    border-top: 8px solid rgba(58, 59, 83, 0);
    border-bottom: 8px solid rgba(58, 59, 83, 0);
	margin: 0px;
}
.power-menu-popup .button.hover {
	background-color:var(--colors12);
	border-left: 4px solid var(--colors13);
    border-right: 4px solid var(--colors13);
    border-top: 8px solid var(--colors13);
    border-bottom: 8px solid var(--colors13);
}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
	color: var(--colors14)
 
}
.power-menu-popup .button .icon {
	font-size: 64px;
	padding-top: 32px;
	color: var(--colors15)
}
.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}
.power-menu-popup .button.cancel .label {
	color: var(--colors9);
    margin: 0;
}
.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}
.volume-widget .icon {
	color: var(--colors5);
	margin: 1px 2px 0 0;
}
.wifi-widget .icon {
    font-size: 14px;
	color: var(--colors4)
}
.battery-widget .icon {
    color: var(--colors9);
}
.weather-widget,
.battery-widget,
.wifi-widget,
.volume-widget {
    padding:0 6px;
}
.weather-widget .icon {
	font-size: 18px;
	margin: 0 2px 1px 0;
    color: var(--colors12);
}
.wallpapers-widget .icon {
	color: var(--colors13);
	padding: 0 5px;
    font-size: 16px;
	margin: 0;
}
.ai-widget .icon:hover {
	color: var(--colors8);
}
.taskbar-widget{
    padding: 0;
    margin: 0;
    border: none;
}
.taskbar-widget .app-icon{
    padding:0 6px;
    border: none;
    margin: 0;
}
.whkd-widget {
    padding: 0 6px 0 6px;
}
.whkd-widget .icon {
    font-size: 14px;
}
.wallpapers-widget {
    padding: 0 6px 0 6px;
}
.wallpapers-gallery-window {
    background-color: rgba(85, 42, 240, 0.01);
    border: 0;
    margin: 0;
}
.wallpapers-gallery-buttons {
    background-color:rgba(255, 255, 255, 0);
    color:var(--colors4);
    border: none;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 8px;
    margin:0 8px 8px 8px;
    width: 600px;
}
.wallpapers-gallery-buttons:hover {
    background-color:rgba(255, 255, 255, 0.1)
}
.wallpapers-gallery-image {
    border: 4px solid transparent;
    border-radius: 10px;
 
}
.wallpapers-gallery-image:hover {
    border: 4px solid var(--colors6);
}
.wallpapers-gallery-image.focused {
    border: 4px solid var(--colors6);
}

.update-check-widget {
    padding: 0 0px 0 0px;
}
.update-check-widget .icon {
    font-size: 14px;
}
.update-check-widget .widget-container.winget, 
.update-check-widget .widget-container.windows {
    background: var(--colors9);
    margin: 7px 2px 7px 2px;
    border-radius: 9px;
    border: 2px solid var(--colors12);
}
.update-check-widget .widget-container.windows {
    background: var(--colors6);
    margin: 7px 2px 7px 2px;
    border-radius: 9px;
    border: 2px solid var(--colors5);
}
.update-check-widget .widget-container.winget .icon, 
.update-check-widget .widget-container.windows .icon {
    color: var(--colors11);
    margin: 0 1px 0 6px;
}
.update-check-widget .widget-container.winget .label, 
.update-check-widget .widget-container.windows .label {
    margin: 0 6px 0 1px;
    color: var(--colors11);
    font-weight: 900;
    font-size: 14px;
}
