.control-center {
    background: rgba(26, 27, 38, 0.7);
    border-radius: 8px;
}

.widgets>.widget,
.widget-mpris>carouselindicatordots,
.widget-mpris>box>button {
    background: rgba(26, 27, 38, 0.5);
    border-radius: 22px;
    padding: 11px;
}

.control-center-list-placeholder {
    padding: 22px;
}

.notification-group {
    border-radius: 22px;
    padding: 8px;
}

.widget.widget-mpris {
    background: transparent;
    border-radius: 0;
    padding: 0;
}

.widget.widget-mpris>carouselindicatordots {
    padding: 4px;
    padding-right: 10px;
    margin-top: 11px;
}

.widget-mpris>box>button:hover {
    background: rgba(46, 46, 46, 1);
}

.widget-mpris-player {
    box-shadow: none;
    margin: 0 11px;
}

.widget-mpris-player:only-child {
    margin: 0;
}
