@define-color fg_main #c0caf5;
@define-color fg_muted rgba(150, 150, 150, 0.6);

@define-color bg_main rgba(26, 27, 38, 0.55);
@define-color bg_strong rgba(26, 27, 38, 0.75);
@define-color bg_hover rgba(40, 42, 60, 0.9);

@define-color accent #7aa2f7;
@define-color accent_soft rgba(122, 162, 247, 0.4);

@define-color red #f7768e;
@define-color orange #e0af68;
@define-color green #9ece6a;
@define-color blue #7aa2f7;
@define-color purple #bb9af7;
@define-color cyan #7dcfff;

* {
    font-family: "Iosevka Extended";
    color: @fg_main;
}

/* Base windows */
notificationwindow,
.blank-window,
.floating-notifications {
    background: transparent;
}

/* Notifications */
.notification-row {
    background: transparent;
}

.notification {
    background: @bg_main;
    border-radius: 8px;
    border: 1px solid @accent;
    padding: 10px 12px;
    color: @fg_main;
    transition: background 200ms ease;
}

.notification:hover {
    background: @bg_hover;
}

.summary {
    font-size: 16px;
    font-weight: 600;
}

.body {
    font-size: 14px;
    color: @fg_main;
}

.time {
    font-size: 13px;
    color: @fg_muted;
}

button {
    background: @bg_strong;
    border: 1px solid @accent
}

/* Close button */
.close-button {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 999px;
    min-width: 26px;
    min-height: 26px;
}

.close-button:hover {
    background: @accent_soft;
}

/* Control center */
.control-center {
    background: @bg_strong;
    border-radius: 8px;
    border: 1px solid @accent;
    padding: 6px;
}

/* Widgets */
.widget {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    padding: 10px 12px;
    margin: 8px;
}

/* Volume / brightness */
.widget-volume,
.widget-backlight {
    color: @blue;
    background: @bg_main;
}

/* Buttons grid */
.widget-buttons-grid {
    background: @bg_main;
}

.widget-buttons-grid button {
    background: @bg_strong;
    padding: 10px;
}

.widget-buttons-grid button:hover {
    background: rgba(255, 255, 255, 0.08);
}

.widget-buttons-grid button.toggle:checked {
    background: @accent_soft;
    border: 1px solid @accent;
}

/* DND */
.widget-dnd>switch,
.widget-backlight>switch slider {
    background: @bg_main;
}

.widget-dnd label {
    color: @fg_main;
}

/* MPRIS */
.widget-mpris-player {
    border-radius: 8px;
}

.widget-mpris-player .mpris-overlay {
    background: rgba(0, 0, 0, 0.45);
    padding: 14px;
}
