/* --- Root Variables (Colors) --- */
:root {
    --background: #00000000;
    --text: #FFFFFF;
    --text-empty: #282828;
    --text-populated: #A0A0A0;
}

/* --- Base Styles --- */
* {
  font-size: 12px;
  color: var(--text);
  font-weight: 700;
  font-family: "Segoe UI", "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.yasb-bar {
    padding: 0px 12px;
    background-color: var(--background);
}

.active-window-widget .widget-container {
    margin: 0 12px;
}

/* --- Komorebi & GlazeWM Workspaces --- */
.komorebi-workspaces .offline-status,
.glazewm-workspaces .offline-status {
  color: var(--text);
  font-size: 12px;
  padding: 0 4px;
  font-weight: 600;
}

.komorebi-workspaces .ws-btn,
.glazewm-workspaces .ws-btn {
    border: none;
    color: var(--text-empty);
    margin: 0 1px 0 1px;
    height: 28px;
    padding: 0 6px;
}

.komorebi-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated,
.glazewm-workspaces .ws-btn.populated {
  color: var(--text-populated);
}

.komorebi-workspaces .ws-btn.active,
.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty,
.windows-desktops .ws-btn.active {
  color: var(--text);
  font-weight: 900;
}

/* --- Glazewm Tiling Direction --- */
.glazewm-tiling-direction .btn {
  font-size: 18px;
  border: none;
}

/* --- Volume Widget --- */
.volume-slider {
  border: none;
}
 
.audio-menu {  
  background-color: var(--background);  
}   
 
.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: var(--highlight-color);
}

.audio-container .device:hover {
  background-color: var(--hover-color);
}

/* --- Systray --- */
.systray {
  padding: 0 4px;
}
.systray .button {
  border-radius: 4px;
  padding: 4px 2px;
}
.systray .unpinned-visibility-btn {
  height: 20px;
  width: 16px;
  border: none;
  font-size: 26px;
}
.systray .unpinned-visibility-btn:hover {
  border-radius: 4px;
}

/* --- Home --- */
.home-widget .icon {
  color: var(--text);
  margin-bottom: 2px;
}

.home-menu {  
  background-color: var(--background);  
}   
 
.home-menu .menu-item {
  padding: 4px 30px 4px 10px;
  font-size: 12px;
}

.home-menu .menu-item:hover {
  background-color: var(--text-populated);
}

.home-menu .separator {
  max-height: 1px;
  background-color: var(--text-populated);
}


/* --- Custom Widget --- */
.custom-widget .widget-container {
  font-weight: 800;
  margin: 0 8px;
}
