/* --- Root Variables (Colors) --- */
:root {
    --background: rgba(30, 34, 40, 0.4);
    --text: #FFFFFF;
    --text-empty: #282828;
    --text-populated: #A0A0A0;
    --accent: #58779A; 
}

/* --- Base Styles --- */
* {
  font-size: 12px;
  color: var(--text);
  font-weight: 700;
  font-family: "Segoe UI", "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.widget-container,
.systeminfo-grouper .container {
    background-color: var(--background);
    margin: 0 4px;
    padding: 0 12px;
    border-radius: 14px;
    min-width: 20px;
    border: 1px solid var(--accent);
}
.icon {
    font-size: 14px;
    padding: 0 4px;
}

.active-window-widget .widget-container {
    margin: 0 12px;
}

/* --- Komorebi & GlazeWM Workspaces --- */
.komorebi-workspaces,
.glazewm-workspaces {
    padding: 0;
}

.komorebi-workspaces .offline-status,
.glazewm-workspaces .offline-status {
    color: var(--text);
    font-size: 12px;
    padding: 0 4px;
    font-weight: 600;
}

.komorebi-workspaces .ws-btn,
.glazewm-workspaces .ws-btn {
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: var(--text);
    border-radius: 5px;
    margin: 0 2px;
    font-size: 1px;
}

.komorebi-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn:hover {
    background-color: var(--text-empty);
}

.komorebi-workspaces .ws-btn.populated,
.glazewm-workspaces .ws-btn.populated {
    width: 10px;
    height: 10px;
    background-color: var(--text-populated);
    border-radius: 5px;
    margin: 0 2px;
    font-size: 1px;
}

.komorebi-workspaces .ws-btn.active,
.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
    color: transparent;
    background-color: var(--text);
    width: 36px;
    height: 10px;
    border-radius: 5px;
}/* --- Glazewm Tiling Direction --- */
.glazewm-tiling-direction .btn {
  font-size: 18px;
  border: none;
}

/* --- Volume Widget --- */
.volume-slider {
  border: none;
}
 
.audio-menu {  
  background-color: var(--background);  
}   
 
.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: var(--highlight-color);
}

.audio-container .device:hover {
  background-color: var(--hover-color);
}

/* --- Systray --- */
.systray {
  padding: 0 4px;
}
.systray .button {
  border-radius: 4px;
  padding: 4px 2px;
}
.systray .unpinned-visibility-btn {
  height: 20px;
  width: 16px;
  border: none;
  font-size: 26px;
}
.systray .unpinned-visibility-btn:hover {
  border-radius: 4px;
}

/* --- Home --- */
.home-widget .icon {
  color: var(--text);
  margin-bottom: 2px;
}

.home-menu {  
  background-color: var(--background);  
}   
 
.home-menu .menu-item {
  padding: 4px 30px 4px 10px;
  font-size: 12px;
}

.home-menu .menu-item:hover {
  background-color: var(--text-populated);
}

.home-menu .separator {
  max-height: 1px;
  background-color: var(--text-populated);
}


/* --- Custom Widget --- */
.custom-widget .widget-container {
  font-weight: 800;
  margin: 0 8px;
}

/* --- Grouper --- */
.systeminfo-grouper .widget-container {
    background: none;
    padding: 0 4px;
    margin: 0;
    border: none;
}
